@charset "ISO-8859-1";
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


 .container{
      top:50%;
      left:50%;
      position:absolute;
      transform:translate(-50%,-50%);
}
.card{
  padding: 60px 40px 50px 40px;
  background:#82ac85;
  border-radius: 5px;
  top: 20%;
}
body{
    
    background-image: url("../images/table.jpg");
    background-repeat:no repeat;
    background-size: cover;
    }
    
#name{
  width: 300px;
  border-radius :20px;
  background:white;
  border-bottom:1px solid white;
  padding: 6px;
  margin-bottom: 30px; 
  font-size: 20px;
  color:rgb(50,50,50);
  border: none;
  outline: none;
}

#button{
  border-radius:none;
  padding: 10px 20px;
  background:hsl(323, 67%, 34%);
  color:white;
  margin-top: 10px;
  border:none ;
  outline: none;
  margin-left: none;
  font-size: 15px;
}
    